* {
	font-family: sans-serif;
}

body, html {
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	height: 100%;
}

#canvas {
	display: block;
    width: 100%;
	height: 100%;
}

#fpsContainer {
	color: #00FF00;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 14px;
	padding: 4px 8px;
	margin: 4px;
	position: absolute;
	z-index: 1;
}

#spectrogram {
	margin: 0;
	padding: 0;
}

.info {
	float: right;
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 14px;
	padding: 4px 8px;
	margin: 4px;
}

#info {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 12px 12px;
	z-index: 3;
}

#controls {
	position: absolute;
	margin: 24px 12px;
	bottom: 0;
	left: 0;
	z-index: 2;
}

#fileInput {
	display: none;
}

.button {
	cursor: pointer;
	color: #FFFFFF;
	background-color: rgba(16, 16, 16, 1.0);
	font-size: 16px;
	padding: 12px 24px;
	margin: 0 8px 0 0;
}

.button:hover {
	background-color: rgba(48, 48, 48, 1.0);
}
